@import url('https://fonts.googleapis.com/css2?family=Abel&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Abel", sans-serif;
    font-size: 1rem;
    background: #824242;
    color: white;
}

input, button {
    text-align: center;
    display: block;
    font-size: inherit;
    font-family: inherit;
    width: 16.5rem;
}

input {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.signIn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.login {
border: 15px solid white;
margin-left: 38%;
margin-right: 40.5%;
padding: 1rem;
margin-top: 4rem;
width: 325px;
height: 500px;
border-radius: 60px;
outline: 5px solid black;
box-shadow: inset 0 0 0 5px black;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
    border: 2px double black;
    background: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 900;
    padding: 1.5rem;
    font-family: "Pacifico", cursive;
    color: black
}

a {
    text-decoration: none;
    color: white
}

.validationMessages.show {
    opacity: 1;
    transition: opacity 0.3s ease; 
  }
  
.validationMessages.hide {
    opacity: 0;
  }
  
.validationMessages {
   background-color: white;
   width: 12rem;
   height: 1.7rem;
   margin-top: 13rem; 
   margin-left: 60%;
   margin-right: 11%;
   opacity: 1;
   color: black;
   border: 2px solid black;
   position: absolute;
   top: 0;
   right: 0;
   transform: translateY(100%);
   padding-left: 1rem;
  }