<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Timer</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <h1>Study Timer</h1>
    <Header class="tab">
      <div class="header">
      <a href="#heroid">Hero Section</a>
      <a href="#featuresid">Features Section</a>
      <a href="#howitworksid">How It Works</a>
      </div>
    </Header>
    <section class="hero">
      <img src="../static/img0.png" />
      <div class="section1">
        <h2 id="heroid">Hero Section</h2>
        <h3>Boost Your Productivity with the Pomodoro Timer</h3>
        <p>
          Experience a proven time management technique that helps you focus on
          your tasks and take regular breaks to maintain peak performance.
          Whether you're studying, working, or pursuing a personal project, our
          Pomodoro Timer can help you stay on track and achieve your goals.
        </p>
        <form action="">
          <button><a href="{{ url_for('index') }}">Try It Now</a></button>
        </form>
      </div>
    </section>
    <section class="features">
      <img src="../static/pic3.png" />
      <div class="section2">
        <h2 id="featuresid">Features Section</h2>
        <h3>Explore the core functionalities of our Study Timer:</h3>
        <ol>
          <li>Customizable Timers</li>
          <ul>
            <li>
              Set personalized timers for focus sessions, short breaks, and long
              breaks.
            </li>
          </ul>
          <li>Pomodoro Technique</li>
          <ul>
            <li>
              Implement the Pomodoro Technique to enhance productivity and
              maintain focus.
            </li>
          </ul>
          <li>Simple Task Management</li>
          <ul>
            <li>
              Keep track of study tasks easily within the timer interface.
            </li>
          </ul>
        </ol>
      </div>
    </section>
    <div class="others">
      <section>
        <img src="../static/pic.png" />
        <div class="section3">
          <h2 id="howitworksid">How It Works</h2>
          <h3>
            Discover the simple yet effective methodology behind our
            <span class="nowrap">Study Timer:</span>
          </h3>
          <ol>
            <li>Customizable Timers</li>
            <ul>
              <li>
                Short Breaks: Incorporate short breaks to recharge without
                losing momentum.
              </li>
              <li>
                Long Breaks: Schedule longer breaks to rejuvenate after
                intensive study periods.
              </li>
            </ul>
            <li>Pomodoro Technique</li>
            <ul>
              <li>
                Implement the Pomodoro Technique to optimize productivity.
              </li>
            </ul>
          </ol>
        </div>
      </section>
      <section>
        <img src="../static/pic2.png" />
        <div class="section4">
          <h2>Visual Progress Tracking</h2>
          <h3>Stay informed with visual indicators of your study progress:</h3>
          <ul>
            <li>
              Countdown Timer: Monitor remaining time for each study and break
              session.
            </li>
            <li>
              Notifications: Receive prompts for upcoming breaks and task
              changes.
            </li>
          </ul>
        </div>
      </section>
    </div>
      <section class="lastimage">
        <img src="../static/img000.png" />
        <div class="section5">
          <h2>Cross-Platform Accessibility</h2>
          <h3>Access your Study Timer seamlessly across devices:</h3>
          <ul>
            <li>
              Desktop and Mobile: Use the timer on your preferred devices for
              flexible study sessions.
            </li>
            <li>
              Synced Sessions: Ensure continuity by syncing timers across
              platforms.
            </li>
          </ul>
        </div>
      </section>
      <section class="section6">
          <h2>Start Your Productive Journey</h2>
          <h3>Take control of your study routine with Study Timer today!</h3>
          <form action="">
            <button><a href="{{ url_for('index') }}" target="_blank">Try It Now</a></button>
          </form>
      </section>
    <section class="testimonials">
      <h2>User Testimonials</h2>
      <p class="headp">See what our users are saying about Study Timer:</p>
      <section class="test">
        <section class="box1">
          <div class="person1">
            <img src="../static/person1.jpeg" />
          </div>
          <p>
            "Study Timer has completely revolutionized my study habits. With its
            intuitive Pomodoro Technique, I can now maintain focus and
            productivity throughout my study sessions, ensuring I make the most
            out of my study time."John Doe
          </p>
        </section>
        <section class="box2">
          <div class="person2">
            <img src="../static/person2.jpeg" />
          </div>
          <p>
            "I've tried numerous productivity tools, but Study Timer stands out.
            It's simple yet effective, allowing me to organize my study tasks
            efficiently. The customizable timers and visual progress tracking
            are invaluable for staying on track.",  Jane Smith
          </p>
        </section>
      </section>
    </section>
    <footer class="footer">
      <div class="telegram">
        <a href="https://t.me/Aka_Semir" target="_blank"><img src="../static/telegram.png"></a>
      </div>
      <div class="instagram">
        <a href="#" target="_blank"><img src="../static/insta.png"></a>
      </div>
      <div class="twitter">
        <a href="https://x.com/NasirDegu" target="_blank"><img src="../static/x.jpg"></a>
      </div>
    </footer>
    <p class="final">&copy; 2024 Study Timer. All rights reserved.</p>
  </body>
</html>
